/* src/styles/appointment.css */

.appointment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .appointment-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .textarea {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
  }
  
  .select {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .green-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .green-btn:hover {
    background-color: #218838;
  }
  
  .error-msg {
    color: red;
    margin-bottom: 10px;
  }
  
  .success-msg {
    color: green;
    margin-bottom: 10px;
  }
  