/* DoctorDashboard.css */
.dashboard-container {
  padding: 20px;
  margin: 0 10px;
}

.section {
  background-color: #E5E7EB;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
}

.section h3,
.section h4,
.section p {
  text-align: left;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: flex-start;
}

.section li:last-child {
  border-bottom: none;
}

.appointment-item {
  display: flex;
  align-items: flex-start;
}

.appointment-number {
  margin-right: 10px;
}

.appointment-details {
  display: flex;
  flex-direction: column;
}

.specialization {
  font-style: italic;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 100%;
}

button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
